@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sigmar&family=Signika+Negative:wght@300;400;500;600;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

#header {
    text-align: center;
    align-items: center;
}

.titulo-menu { 
    font-family: 'Sigmar', cursive;
    margin-right: 10px;
}

.tit {
    padding-right: 50px;
}

.details {
    color: #dc3545;
}

body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}
  
body::-webkit-scrollbar-track {
    background: black;        /* color of the tracking area */
}
  
body::-webkit-scrollbar-thumb {
    background-color: #dc3545;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid black;  /* creates padding around scroll thumb */
}

main {
    padding: 30px;
    margin: auto;
    text-align: center;
}

.text-info {
    font-family: 'Signika Negative', sans-serif;
    padding: 50px 0px 0px 0px;
    text-align: justify;
}

.subtitle {
    font-family: 'Signika Negative', sans-serif;
    padding: 20px 50px 20px 50px;
}


.button-div {
    align-items: left;
}

.stile-button {
    background-color: #b91829;
    border: none;
    border-radius: 2px;
    padding: 15px;
    font-family: 'Signika Negative', sans-serif;
    color: white;
    font-size: 20px;
    width: 180px;
    transition: width 1.2s;
}

.stile-button:hover {
    background-color: #9c1220;
    width: 200px;
}

.icone-insta {
    padding: 5px;
}

.box-sobre {
    background-color: #151515;
    margin: 200px auto 50px auto;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    border-radius: 10px;
    padding: 30px;
}

.box-image {
    padding: 20px;
}
.box-text {
    text-align: start;
}

.h-box {
    font-size: 2rem;
    font-family: 'Sigmar', cursive;
    color: white;
    text-decoration: underline;
    text-decoration-color: #b91829;
}
.p-box {
    font-size: 1rem;
    font-family: 'Signika Negative', sans-serif;
    color: white;
    line-height: 2rem;
    padding: 10px;
}


.faixa ul {
	display: flex;
    justify-content: center;
    padding-left: 5px;
}

.faixa ul li {
	list-style-type: none;
    padding-right: 5px;
}

.ico-btn {
    padding: 1px;
}