@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sigmar&family=Signika+Negative:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

#header {
    text-align: center;
    align-items: center;
    position: -webkit-sticky; /* Necessário para funcionar no Safari */
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 5px solid #9c1220;
}

.titulo-menu { 
    font-family: 'Archivo', sans-serif;
    margin-right: 10px;
}

.sub-info:hover {
    text-decoration: underline;
    font-weight: 600;
    transition: 0.2s;
}

.tit {
    padding-right: 50px;
}

.details {
    color: #dc3545;
}
.details:hover {
    padding: 2px;
    font-weight: 600;
    transition: 0.5s;
}

body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}
  
body::-webkit-scrollbar-track {
    background: black;        /* color of the tracking area */
}
  
body::-webkit-scrollbar-thumb {
    background-color: #dc3545;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid black;  /* creates padding around scroll thumb */
}

main {
    margin: auto;
    text-align: center;
}

.text-info {
    font-family: 'Signika Negative', sans-serif;
    padding: 80px 0px 0px 0px;
    text-align: justify;
}

.subtitle {
    font-family: 'Signika Negative', sans-serif;
    padding: 20px 50px 20px 50px;
}


.button-div {
    align-items: left;
}

.stile-button {
    background-color: #b91829;
    border: none;
    border-radius: 2px;
    padding: 15px;
    font-family: 'Signika Negative', sans-serif;
    color: white;
    font-size: 20px;
    width: 180px;
    transition: width 1.2s;
}

.stile-button:hover {
    background-color: #9c1220;
    width: 200px;
}

.icone-insta {
    padding: 5px;
}

.box-sobre {
    background-color: #151515;
    margin: 200px auto 50px auto;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    border-radius: 10px;
    padding: 30px;
}

.box-image {
    padding: 20px;
}
.box-text {
    text-align: start;
}

.h-box {
    font-size: 2rem;
    font-family: 'Archivo', sans-serif;
    color: white;
    text-decoration: underline;
    text-decoration-color: #b91829;
}
.p-box {
    font-size: 1rem;
    font-family: 'Signika Negative', sans-serif;
    color: white;
    line-height: 2rem;
    padding: 10px;
}

.faixa ul {
	display: flex;
    justify-content: center;
    padding-left: 5px;
}

.faixa ul li {
	list-style-type: none;
    padding-right: 5px;
}

.ico-btn {
    padding: 1px;
}

#projetos {
    background-color: #151515;
    padding: 96px 0px 96px 15px;
}
.box-projetos {
    padding: 50px;
}
.text-projetos {
    font-size: 2rem;
    font-family: 'Archivo', sans-serif;
    color: white;
}
.tit-repo {
    font-family: 'Archivo', sans-serif;
    padding-top: 20px;
    color: #9c1220;
    font-weight: 300;
    text-decoration: underline;
    text-decoration-color: rgba(80, 80, 80, 0.466) ;
    font-size: 1.3rem;
}

.pro-1 {
    padding: 20px;
    width: 300px;
    border-style: solid;
    border-width: 2px;
    border-color: #dc3545;
    text-align: left;
    margin-bottom: 20px;
}

.pro-1 h3 {
    font-size: 2rem;
    font-family: 'Signika Negative', sans-serif;
    color: white;
    line-height: 2rem;
    padding: 10px;
}
.pro-1 p {
    font-size: 1rem;
    font-family: 'Signika Negative', sans-serif;
    color: #777F7F;
    line-height: 2rem;
    padding: 10px;
}
.pro-1 span {
    color: #9c1220;
    padding: 0px 0px 10px 10px;
    cursor: pointer;
}

.pro-1 span:hover {
    text-decoration: underline;
    text-decoration-color: #9c1220;
    transition: 2s;
}


.pro-2 {
    padding: 20px;
    width: 300px;
    border-style: solid;
    border-width: 2px;
    border-color: #00A3FF;
    text-align: left;
    margin-bottom: 20px;

}

.pro-2 h3 {
    font-size: 2rem;
    font-family: 'Signika Negative', sans-serif;
    color: white;
    line-height: 2rem;
    padding: 10px;
}
.pro-2 p {
    font-size: 1rem;
    font-family: 'Signika Negative', sans-serif;
    color: #777F7F;
    line-height: 2rem;
    padding: 10px;
}
.pro-2 span {
    color: #00A3FF;
    padding: 0px 0px 10px 10px;
    cursor: pointer;
}

.pro-2 span:hover {
    text-decoration: underline;
    text-decoration-color: #00A3FF;
    transition: 2s;
}


.pro-3 {
    padding: 20px;
    width: 300px;
    border-style: solid;
    border-width: 2px;
    border-color: #65945D;
    text-align: left;
    margin-bottom: 20px;

}

.pro-3 h3 {
    font-size: 2rem;
    font-family: 'Signika Negative', sans-serif;
    color: white;
    line-height: 2rem;
    padding: 10px;
}
.pro-3 p {
    font-size: 1rem;
    font-family: 'Signika Negative', sans-serif;
    color: #777F7F;
    line-height: 2rem;
    padding: 10px;
}
.pro-3 span {
    color: #65945D;
    padding: 0px 0px 10px 10px;
    cursor: pointer;
}

.pro-3 span:hover {
    text-decoration: underline;
    text-decoration-color: #65945D;
    transition: 2s;
}


#servicos {
    padding: 96px 48px;   
}

.text-servicos {
    font-size: 2rem;
    font-family: 'Archivo', sans-serif;
    color: white;
}

.icone-servicos {
    padding: 20px;
}

.ser-1 {
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: 30px;
    height: 350px;
}
.ser-2 {
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: 30px;
    height: 350px;
}
.ser-3 {
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: 30px;
    height: 350px;
}

.ser-1 h3 {
    font-size: 2rem;
    font-family: 'Signika Negative', sans-serif;
    color: white;
    line-height: 2rem;
    padding: 10px;
}
.ser-1 p {
    font-size: 1rem;
    font-family: 'Signika Negative', sans-serif;
    color: #777F7F;
    line-height: 2rem;
    padding: 10px;
}
.ser-1 span {
    color: #65945D;
    padding: 0px 0px 10px 10px;
}

.ser-1:hover {
    transition: 0.5s;
    border-width: 2px;
    border-color: #9c1220;
}


.ser-2 h3 {
    font-size: 2rem;
    font-family: 'Signika Negative', sans-serif;
    color: white;
    line-height: 2rem;
    padding: 10px;
}
.ser-2 p {
    font-size: 1rem;
    font-family: 'Signika Negative', sans-serif;
    color: #777F7F;
    line-height: 2rem;
    padding: 10px;
}
.ser-2 span {
    color: #65945D;
    padding: 0px 0px 10px 10px;
}

.ser-2:hover {
    transition: 0.5s;
    border-width: 2px;
    border-color: #9c1220;
}


.ser-3 h3 {
    font-size: 2rem;
    font-family: 'Signika Negative', sans-serif;
    color: white;
    line-height: 2rem;
    padding: 10px;
}
.ser-3 p {
    font-size: 1rem;
    font-family: 'Signika Negative', sans-serif;
    color: #777F7F;
    line-height: 2rem;
    padding: 10px;
}
.ser-3 span {
    color: #65945D;
    padding: 0px 0px 10px 10px;
}

.ser-3:hover {
    transition: 0.5s;
    border-width: 2px;
    border-color: #9c1220;
}

.icone-font {
    padding: 5px;
}

#conhecimentos {
    padding: 96px 48px;   
    background-color: #151515;
}
.tit-conhc {
    font-size: 2rem;
    font-family: 'Archivo', sans-serif;
    color: white;
}
.p-conhc {
    font-size: 1rem;
    font-family: 'Signika Negative', sans-serif;
    color: #777F7F;
    line-height: 2rem;
    padding: 10px;
}
.space-conhc {
    padding: 50px;
}
.columm-conhc {
    margin-bottom: 20px;
}

.image-conhc {
    padding: 20px;
}